<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionStringMsSql" connectionString="Data Source=localhost\SQLExpress;Initial Catalog=master;Integrated Security=True"/>
    <add name="ConnectionStringJSON" connectionString="../data/DB.json"/>
    <!--<add name="ConnectionStringMsSql" connectionString="Password=EvvCpM0dLw;User ID=mec0037;Initial Catalog=mec0037;Data Source=dbsys.cs.vsb.cz\STUDENT"/>-->
  </connectionStrings>
</configuration>